/*CÓDIGO ANTIGO*/

/*

body{
  width: 1440px;
  height: 100%;
  background: url('Images/background.svg') no-repeat;
  background-size: 100%;
  background-color: #F0F8FF;
  font-family: 'Red Hat Display', sans-serif;
}


.card{
  background-color: #FFFFFF;
  width: 20%;
  margin: 8% 45%;
  text-align: center;
  border-radius: 15px;

}

.arte{
  width: 269px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.descricao{
  padding: 30px 25px 15px;
}

.descricao h1{
  padding-bottom: 15px;
  font-size: 23px;
  font-weight: bold;
}

.descricao p{
  color: #808080;
}

.pagamento{
  background-color: #F0F8FF;
  border-radius: 10px;
  margin: 0 25px;
}

.pagamento h2,p, a{
  display: inline-block;
  position: relative;
  font-size: 13px;
}

.pagamento h2{
  bottom: 18px;
  font-weight: bold;
  left: 4px;
}

.pagamento p{
  position: relative;
  right: 75px;
  top: 1px;
  color: #808080;

}
.pagamento a{
    bottom: 23px;
    left: 68px;
    font-weight: bold;
    color: #6D2AFF;
}

.nota-musical{
  display: inline-block;
  position: relative;
  width: 40px;
  top: 8px;
  right: 4px;
}

.confirme{
  background-color: #6D2AFF;
  border-radius: 10px;
  padding: 10px 28px;
  margin: 20px 0 20px;
  font-weight: bold;
  color: #FFFFFF;
  box-shadow: 0 7px 10px #6D2AFF;
}

.cancele{
  margin-bottom: 25px;
  font-weight: bold;
}

*/

/*CÓGIDO NOVO*/

body{
  width: 100%;
  background: url('Images/background.svg') no-repeat #F0F8FF;
  background-size: cover;
  font-family: 'Red Hat Display', sans-serif;
}

.card_principal{
  width: 90%;
  background: #ffffff;
  margin: auto;
  border-radius: 15px;
  text-align: center;
}

.arte{
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/*DESCRIÇÃO*/

.descricao{
  margin: 35px 25px 30px 25px;
  font-size: 18px;
  color: #808080;
}

.descricao h1{
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000000;
}

/*PAGAMENTO*/

.pagamento{
  display: grid;
  align-items: center;
  justify-content: space-around;
  background-color: #F0F8FF;
  margin: 0 20px 22px;
  padding: 15px 0;
  border-radius: 10px;
  grid-template-areas: 
  "imagem plano mudar"
}

.nota_musical{
  grid-area: imagem;
}

.plano{
  grid-area: plano;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.plano h2{
  font-size: 18px;
  font-weight: bold;
}

.plano p{
  font-size: 14px;
  color: #808080;
  font-weight: bold;
}

.pagamento a{
  grid-area: mudar;
  font-weight: bold;
  color: #6D2AFF;
  text-decoration: underline;
}

/*BOTÕES*/

.aceite{
  display: grid;
  grid-template-columns: auto;
  row-gap: 23px;
}

.confirme{
  background: #6D2AFF;
  margin: 0 20px;
  padding: 12px 0;
  border-radius: 10px;
  box-shadow: 0 15px 15px #6d2aff30;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.cancele{
  color: #808080;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 35px; 
}