body{
  width: 100%;
  background: url('Images/background.svg') no-repeat #F0F8FF;
  background-size: auto;
  font-family: 'Red Hat Display', sans-serif;
}

.card_principal{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background: #ffffff;
  border-radius: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
    
}

.arte{
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/*DESCRIÇÃO*/

.descricao{
  margin: 35px 25px 30px 25px;
  font-size: 18px;
  color: #808080;
}

.descricao h1{
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000000;
}

/*PAGAMENTO*/

.pagamento{
  display: grid;
  align-items: center;
  justify-content: space-around;
  width: 88%;
  background-color: #F0F8FF;
  margin: 0 20px 22px;
  padding: 15px 0;
  border-radius: 10px;
  grid-template-areas: 
  "imagem plano mudar"
}

.nota_musical{
  grid-area: imagem;
}

.plano{
  grid-area: plano;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.plano h2{
  font-size: 18px;
  font-weight: bold;
}

.plano p{
  font-size: 14px;
  color: #808080;
  font-weight: bold;
}

.pagamento a{
  grid-area: mudar;
  font-weight: bold;
  color: #6D2AFF;
  text-decoration: underline;
}

/*BOTÕES*/

.aceite{
  display: grid;
  width: 88%;
  grid-template-columns: auto;
  row-gap: 23px;
}

.confirme{
  background: #6D2AFF;
  margin: 0 20px;
  padding: 12px 0;
  border-radius: 10px;
  box-shadow: 0 15px 15px #6d2aff30;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

.cancele{
  color: #808080;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 35px; 
}

/*DESKTOP*/

@media (width >= 500px){

  .card_principal{
    width: 400px;
  }

}

/*BACKGROUND*/

@media (width > 1200px){

  body{
    background-size: cover;
  }

}